

  .home-intro{
    background: #002115;
    min-height: 70vh; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:40px;
  }

  .text-column {
    flex: 2;
    margin-left: 60px;
  }
  
  .letras-pequenas{
    color: #10B981;
    margin-left: 5px;
    font-size: 20px;
   
  }

  .letras-medianas{
    font-size: 35px;
    color: #ffffff97;
    width: 100%;

  }

  .main-text {
     margin-bottom: 10px;
     margin-top: 10px;
    font-size: 90px;
    font-weight: bold;
    color: #ffffff97;
  }

  .secondary-text {
    background: linear-gradient(0.25turn, #10B981, #ebf8e1, #cf5cff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .btn-container{
    display: flex;
    gap: 30px;
    justify-content: flex-start;
    align-items: center;
    margin-top: 22px;

  }
  .btn{
    width: 191px;
    height: 56px;  
    border: none;
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 10px; 
    background-color: #10B981;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    text-decoration: none;
  }
  .btn-morado{
    width: 191px;
    height: 56px;  
    border: none;
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 10px; 
    background-color: #cf5cff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 700;
    text-decoration: none;
    
  }

  .btn,
  .btn-morado{
    color: #ffffff97;
    border: 5px solid transparent;
    border-radius: 12px;
    background: 
    linear-gradient(#0F172A, #0F172A) padding-box,
    linear-gradient(0.25turn, #10B981, #ebf8e1, #cf5cff) border-box;
      transition: transform 0.25s ease;
  }

  .btn-morado:hover,
  .btn:hover {
    transform: scale(1.05);
  }

  .image-column {
    flex: 1;
    display: flex;
    justify-content: center;
    margin-right: 60px;
  }

  .image-column img {
    width: 90%;
    max-width: 700px;
    height: auto;
    border-radius: 12px;
    border: 5px solid transparent;
    border-radius: 12px;
    background: 
    linear-gradient(#0F172A, #0F172A) padding-box,
    linear-gradient(0.25turn, #10B981, #ebf8e1, #cf5cff) border-box;
  }

  .home-projects{
      background: #002115;
      min-height: 80vh; 
      display: flex;
      align-items: center;  
  }

  .texto-recent-projects{
    margin-left: 100px;
    display: flex;
    justify-content: center;
  }


  .degradado-text {
        background: linear-gradient(0.25turn, #F97316, #FACC15, #EF4444);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 80px;
    font-weight: 800;
    margin-top: 50px;

  }

  

  .projects-section {
    width: 100%;
    padding: 80px 40px;
  }

  .projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    align-items: start;
  }

  .project-card {
    color: #f5f5f5;

    padding: 20px;
    background: #0F172A;
    transition: all 0.3s ease;

    border: 2px solid transparent;
    border-radius: 12px;
    background: 
    linear-gradient(#0F172A, #0F172A) padding-box,
    linear-gradient(0.25turn, #10B981, #ebf8e1, #cf5cff) border-box;
  }

  .project-card:hover {
    border-color: #10B981;
    transform: translateY(-6px);
  }

  .left-card {
    margin-top: 0;

  }

  .right-card {
    margin-top: 120px; 
    margin-bottom: -20px;
  }

  .project-image {
    width: 100%;
    height: 380px;
    object-fit: cover;
    display: block;
  }

  .project-content {
    padding-top: 22px;
  }

  .project-tags {
    display: flex;
    gap: 12px;
    margin-bottom: 22px;
    flex-wrap: wrap;
  }

  .tag {
    display: inline-flex;
    align-items: center;
    padding: 8px 14px;
    border-radius: 999px;
    background: #2b2b2b;
    color: #bcbcbc;
    font-size: 12px;

    letter-spacing: 2px;
  }

  .tag.active {
    color: #f5f5f5;
  }

  .project-bottom {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }

  .project-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
  }

  .project-title {
    margin: 0 0 14px;
    font-size: 52px;
    line-height: 0.95;
    font-weight: 800;
    text-transform: uppercase;
    color: #f3f3f3;
  }

 .project-text {
  margin: 0;
  width: 100%;
  max-width: none;
  font-size: 18px;
  line-height: 1.45;
  color: #a9a9a9;
  margin-top: -25px;
}

  .arrow-btn {
    border: none;
    background: transparent;
    color: #10B981;
    font-size: 50px;
    cursor: pointer;
    line-height: 1;
    padding: 0;
    transition: transform 0.3s ease;
    transform: translateY(-15px);
    text-decoration: none;
  }

  .arrow-btn {
    flex-shrink: 0;
  }

  .arrow-btn:hover {
    transform: translateY(-20px);
  }
