.container-navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.links{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; /* Para que se vea la manita */
    gap: 20px;
    color: #fff;
}

.links:active{
    color: aqua;
}